* {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.site-title {
  font-size: 35px;
  background-color: #E47D78;
  padding: 10px 10px 10px 20px;
  margin: 0px;
  font-weight: 500;
  color: white;
}

a:visited, a:hover, a:link {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.site-title > i:nth-child(1) {
  margin-right: 12px;
}

body {
  margin: 0px;
  background-color: #EFEFEF;
}

nav ul li {
  display:inline;
  padding:0 10px;
  margin-right: 15px;
}

.menulist {
  color: white;
  position: fixed;
  margin: 0px;
  top: 16px;
  right: 1%;
}

.menuitem {
  padding-bottom: 8px;
}

.active {
  box-shadow: inset 0 -3px white;
}

.menulist li {
  float: left;
}

.menu-button {
  background-color: #E47D78;
  width: 120px;
  height: 100px;
  border-radius: 15px;
  border: 0px;
  color: white;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #D96E69;
}

.menu-button:active {
  background-color: #D63C3E;
}

.menu-selected {
  background-color: #D63C3E;
}

.delete-button {
  background-color: #918787;
  border-radius: 12px;
  width: 120px;
  height: 60px;
  border: 0px;
  color: white;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #797171;
}

.delete-button:active {
  background-color: #635C5D;
}

.menu-button-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -270px 0px 0px 550px;
}

.menu-button-container button {
  margin: 2px 0px 2px 0px;
}

.tool-bar-header {
  background-color: #312F2F;
  font-size: 17px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: #AAAAAA;
  padding: 5px;
  margin-bottom: 10px;
}

.tool-bar-header p {
  margin: 0px;
}

.fa-paint-brush {
  font-size: 35px;
}

.fa-holly-berry {
  font-size: 35px;
}

button p {
  margin: 5px 0px 0px 0px;
}

.fa-sliders-h {
  font-size: 35px;
}

.fa-crop-alt {
  font-size: 35px;
}

.fa-save {
  font-size: 35px;
}

.fa-trash-alt {
  font-size: 20px;
}

.stickers-container {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -200px 0px 0px -730px;
  background-color: #4F4C4C;
  height: auto;
  width: 200px;
  border-radius: 12px;
  color: #FAF7F7;
  text-align: center;
}

.sticker-button {
  background: none;
  border: 2px solid white;
  border-radius: 2px;
  margin: 10px 5px 10px 5px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.sticker-button:hover {
  background: grey;
}

.sticker-button:active {
  background: #E47D78;
}

.sticker-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-header {
  background-color: #E47D78;
  font-size: 20px;
  font-weight: 600;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 0px;
}

.modal-header p {
  color: white;
  margin: 0px;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

.modal-button {
  cursor: pointer;
  color: white;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  border: none;
}

.accept {
  background-color: #E47D78;
}

.accept:active {
  background-color: #D63C3E;
}

.upload-button-container
{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -180px 0px 0px -300px;
  text-align: center;
  color: #4F4C4C;
  font-size: 35px;
  height: 380px;
  width: 580px;
  background-color: #AAAAAA;
  border: 5px solid #4F4C4C;
  border-radius: 15px;
  cursor: pointer;
}

.upload-button-container label {
  display: inline-block;
  height: 380px;
  width: 580px;
  cursor: pointer;
}

.upload-button-container p {
  margin: 0px;
}

.upload-button-container > label:nth-child(2) > i:nth-child(1) {
  font-size: 150px;
  margin-top: 85px;
}

.upload-button-container:hover
{
  background-color: #919090;
}

.upload-button-container:active
{
  background-color: #4F4C4C;
  color: #AAAAAA;
}

.cancel {
  background-color: #918787;
}

.cancel:active {
  background-color: #635C5D;
}

.modal-close-button {
  color: white;
  float: right;
  font-size: 20px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  margin-right: 10px;
}

.modal-body {
  font-size: 17px;
  margin-top: 15px;
}

.photo-input-element {
  margin: 5px 0px 5px 0px;
}

.photo-input-element textarea {
  resize: none;
  width: 415px;
}

.modal-footer
{
  text-align: center;
  margin-top: 15px;
}

.error-container {
  margin-top: 50px;
  text-align: center;
  color: #4F4C4C;
}

.error-container p{
  font-size: 100px;
  margin: 0;
}

.error-container h2 {
  margin: 10px 0;
  font-size: 96px;
  font-weight: 400;
}

.error-container h3 {
  margin-top: 10px 0;
  font-size: 36px;
  font-weight: 600;
}

.photo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image-button {
  height: 200px;
  width: 200px;
  margin: 8px;
  background-image: url("hamster.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  box-shadow: 1px 1px 5px #919090;
  border-radius: 8px;
  cursor: pointer;
}

.image-button:hover {
  border: 5px solid #E47D78;
}

.image-button:active {
  border: 5px solid #FF4848;
}

.desc-contents {
  font-weight: 600;
}

.hidden {
  display: none;
}

.do-button {
  background-color: #E47D78;
  width: 120px;
  height: 60px;
  border-radius: 15px;
  border: 0px;
  color: white;
  cursor: pointer;
  margin: 5px;
}

.do-button:hover {
  background-color: #D96E69;
}

.do-button:active {
  background-color: #D63C3E;
}

.do-button-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 300px 0px 0px -120px;
}

.tool-button {
  background-color: #312F2F;
  height: 70px;
  width: 70px;
  border-radius: 45px;
  border: 0px;
  color: #FAF7F7;
  cursor: pointer;
  margin-bottom: 5px;
}

.tool-button:hover {
  background-color: #232222;
}

#photo-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0px 0px -480px;
  box-shadow: 1px 1px 5px #919090;
}

#drawing-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0px 0px -480px;
  box-shadow: 1px 1px 5px #919090;
}

#paint-tool-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -150px 0px 0px -730px;
  background-color: #4F4C4C;
  height: 350px;
  width: 200px;
  border-radius: 12px;
  color: #FAF7F7;
  text-align: center;
}

#paint-tool-bar button {
  background-color: #312F2F;
  height: 70px;
  width: 70px;
  border-radius: 45px;
  border: 0px;
  color: #FAF7F7;
  cursor: pointer;
  margin-bottom: 5px;
}

#paint-tool-bar button:hover {
  background-color: #232222;
}

#paint-button.tool-selected, #erase-button.tool-selected {
  background-color: #161515;
  height: 70px;
  width: 70px;
  border-radius: 45px;
  color: #FAF7F7;
  cursor: pointer;
  margin-bottom: 5px;
  border: 2px solid white;
}


#color-picker {
  background-color: #312F2F;
  padding: 5px;
  height: 40px;
  width: 70px;
  border-radius: 5px;
  border: 0px;
  margin-bottom: 10px;
  margin-top: 5px;
}

#adjustment-tool-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -110px 0px 0px -730px;
  background-color: #4F4C4C;
  height: 200px;
  width: 200px;
  border-radius: 12px;
  color: #FAF7F7;
  text-align: center;
}

#slider {
  margin: 5px 0px 5px 0px;
}

#decoration-tool-bar {
  position: absolute;
  left: 50%;
  top: 50%;
}

#save-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0px 0px -220px;
  background-color: white;
  height: 300px;
  width: 450px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #919090;
  z-index: 1010;
}

#save-modal .modal-body {
  margin-left: 15px;
}

#title-text-input, #name-text-input {
  height: 20px;
}

#delete-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -70px 0px 0px -220px;
  text-align: center;
  background-color: white;
  height: 130px;
  width: 450px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #919090;
  z-index: 1010;
}

#delete-modal > div:nth-child(2) {
  font-size: 18px;
  margin-bottom: 15px;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.55);
}

#show-up {
  position: absolute;
  top: 5%;
  left: 5%;
}

#show-up-wrapper {
  display: flex;
  justify-content: center;
}

#show-up-photo {
  z-index: 1010;
}

#description-modal {
  text-overflow: ellipsis;
  margin-top: 2%;
  margin-left: 10px;
  background-color: white;
  z-index: 1010;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #919090;
  width: 350px;
  height: 280px;
}

#description-modal .modal-body p {
  margin: 0px 8px 8px 8px;
}

.error-prompt {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -70px 0px 0px -220px;
  text-align: center;
  background-color: white;
  height: 130px;
  width: 450px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #919090;
  z-index: 1020;
}

.success-prompt {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -70px 0px 0px -220px;
  text-align: center;
  background-color: white;
  height: 130px;
  width: 450px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #919090;
  z-index: 1020;
}

